In [0]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [0]:
from fastai.text import *

In [0]:
bs=64

In [4]:
path=untar_data(URLs.HUMAN_NUMBERS)
path.ls()

[PosixPath('/root/.fastai/data/human_numbers/valid.txt'),
 PosixPath('/root/.fastai/data/human_numbers/train.txt')]

In [0]:
def readnums(d): return [', '.join(o.strip() for o in open(path/d).readlines())]

In [6]:
train_txt=readnums('train.txt')
train_txt[0][:80]

'one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve, thirt'

In [7]:
valid_txt=readnums('valid.txt')
valid_txt[0][-80:]

' nine thousand nine hundred ninety eight, nine thousand nine hundred ninety nine'

In [0]:
train=TextList(train_txt,path=path)
valid=TextList(valid_txt,path=path)

In [0]:
src=ItemLists(path=path,train=train,valid=valid).label_for_lm()
data=src.databunch(bs=bs)

In [10]:
train[0].text[:80]

'xxbos one , two , three , four , five , six , seven , eight , nine , ten , eleve'

In [11]:
len(data.valid_ds[0][0].data)

13017

In [12]:
data.bptt,len(data.valid_dl)

(70, 3)

In [13]:
13017/70/bs

2.905580357142857

In [0]:
it=iter(data.valid_dl)
x1,y1=next(it)
x2,y2=next(it)
x3,y3=next(it)

In [15]:
x1.numel()+x2.numel()+x3.numel()

13440

In [16]:
x1[:,0]

tensor([ 2,  9, 11, 12, 13, 11, 10,  9, 10, 14, 19, 25, 19, 15, 16, 11, 19,  9,
        10,  9, 19, 25, 19, 11, 19, 11, 10,  9, 19, 20, 11, 26, 20, 23, 20, 20,
        24, 20, 11, 14, 11, 11,  9, 14,  9, 20, 10, 20, 35, 17, 11, 10,  9, 17,
         9, 20, 10, 20, 11, 20, 11, 20, 20, 20], device='cuda:0')

In [0]:
v=data.valid_ds.vocab

In [18]:
v.textify(x1[0])

'xxbos eight thousand one , eight thousand two , eight thousand three , eight thousand four , eight thousand five , eight thousand six , eight thousand seven , eight thousand eight , eight thousand nine , eight thousand ten , eight thousand eleven , eight thousand twelve , eight thousand thirteen , eight thousand fourteen , eight thousand fifteen , eight thousand sixteen , eight thousand seventeen , eight'

In [20]:
data.show_batch(ds_type=DatasetType.Valid)

In [0]:
data=src.databunch(bs=bs,bptt=3)

In [22]:
x,y=data.one_batch()
x.shape,y.shape

(torch.Size([64, 3]), torch.Size([64, 3]))

In [65]:
nv=len(v.itos)
nv

40

In [0]:
nh=64

In [0]:
def loss4(input,target): return F.cross_entropy(input,target[:,-1])
def acc4(input,target): return accuracy(input,target[:,-1])

In [0]:
class Model0(nn.Module):
    def __init__(self):
        super().__init__()
        self.i_h = nn.Embedding(nv,nh) 
        self.h_h = nn.Linear(nh,nh)     
        self.h_o = nn.Linear(nh,nv)     
        self.bn = nn.BatchNorm1d(nh)
        
    def forward(self, x):
        h = self.bn(F.relu(self.h_h(self.i_h(x[:,0]))))
        if x.shape[1]>1:
            h = h + self.i_h(x[:,1])
            h = self.bn(F.relu(self.h_h(h)))
        if x.shape[1]>2:
            h = h + self.i_h(x[:,2])
            h = self.bn(F.relu(self.h_h(h)))
        return self.h_o(h)

In [0]:
learn = Learner(data, Model0(), loss_func=loss4, metrics=acc4)

In [35]:
learn.fit_one_cycle(6,1e-4)

##Putting it in a loop

In [0]:
class Model1(nn.Module):
  def __init__(self):
    super().__init__()
    self.i_h=nn.Embedding(nv,nh)
    self.h_h=nn.Linear(nh,nh)
    self.h_o=nn.Linear(nh,nv)
    self.bn=nn.BatchNorm1d(nh)
  def forward(self,x):
    h=torch.zeros(x.shape[0],nh).to(device=x.device)
    for i in range(x.shape[1]):
      h=h+self.i_h(x[:,i])
      h=self.bn(F.relu(self.h_h(h)))
    return self.h_o(h)

In [0]:
learn1=Learner(data, Model1(),loss_func=loss4, metrics=acc4)

In [43]:
learn1.fit_one_cycle(6,1e-4)

##Multi Connected

In [0]:
data=src.databunch(bs=bs,bptt=20)

In [47]:
x,y = data.one_batch()
x.shape,y.shape

(torch.Size([64, 20]), torch.Size([64, 20]))

In [0]:
class Model2(nn.Module):
  def __init__(self):
    super().__init__()
    self.i_h=nn.Embedding(nv,nh)
    self.h_h=nn.Linear(nh,nh)
    self.h_o=nn.Linear(nh,nv)
    self.bn=nn.BatchNorm1d(nh)
  def forward(self,x):
    res=[]
    h=torch.zeros(x.shape[0],nh).to(device=x.device)
    for i in range(x.shape[1]):
      h=h+self.i_h(x[:,i])
      h=F.relu(self.h_h(h))
      res.append(self.h_o(self.bn(h)))
    return torch.stack(res,dim=1)

In [0]:
learn=Learner(data, Model2(),metrics=accuracy)

In [50]:
learn.fit_one_cycle(10,1e-4,pct_start=0.1)

##Using nn.RNN

In [0]:
class Model4(nn.Module):
    def __init__(self):
        super().__init__()
        self.i_h = nn.Embedding(nv,nh)
        self.rnn = nn.RNN(nh,nh, batch_first=True)
        self.h_o = nn.Linear(nh,nv)
        self.bn = BatchNorm1dFlat(nh)
        self.h = torch.zeros(1, bs, nh).cuda()
        
    def forward(self, x):
        res,h = self.rnn(self.i_h(x), self.h)
        self.h = h.detach()
        return self.h_o(self.bn(res))

In [0]:
learn=Learner(data, Model4(),metrics=accuracy)

In [82]:
learn.fit_one_cycle(20,3e-3)

##GRU

In [0]:
class Model5(nn.Module):
    def __init__(self):
        super().__init__()
        self.i_h = nn.Embedding(nv,nh)
        self.rnn = nn.GRU(nh,nh,2,batch_first=True)
        self.h_o = nn.Linear(nh,nv)
        self.bn = BatchNorm1dFlat(nh)
        self.h = torch.zeros(2, bs, nh).cuda()
        
    def forward(self, x):
        res,h = self.rnn(self.i_h(x), self.h)
        self.h = h.detach()
        return self.h_o(self.bn(res))

In [0]:
learn=Learner(data,Model5(),metrics=accuracy)

In [88]:
learn.fit_one_cycle(10,1e-2)

In [98]:
path.ls()

[PosixPath('/root/.fastai/data/human_numbers/models'),
 PosixPath('/root/.fastai/data/human_numbers/valid.txt'),
 PosixPath('/root/.fastai/data/human_numbers/train.txt')]

In [106]:
learn.export()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:256: UserWarning: Couldn't retrieve source code for container of type Model5. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "